-f https://download.pytorch.org/whl/torch_stable.html

matplotlib~=3.8.2
torch==2.1.1+cu121
torchvision==0.16.1+cu121
Pillow~=10.1.0
tqdm~=4.66.1
patool~=2.0.0
DownloadKit~=1.0.4
numpy~=1.26.2
tensorboard~=2.15.1
torch-tb-profiler~=0.4.3
PySide6~=6.6.1
shiboken6~=6.6.1
PySide6-Essentials~=6.6.1
PySide6-Addons~=6.6.1
prefetch-generator~=1.0.3
